@charset "UTF-8";

body {
	font-size: medium;
}

div.bit-photo {
	min-height: 500px;
	overflow: hidden;
}

div.bit-list {
	min-height: 200px;
}

.bit-photo {
	margin: 20px;
}

.bit-pro {
	padding: 30px;
}

div.container {
	/* width: 600px; */
}

.container > h1 {
	height: 40px;
	/* border: 1px solid red; */
	/* text-align: center; */
}

.bit-invisible {
	display: none;
}

#bit-page {
	min-height: 50px;
}

#bit-login-state, #bit-not-login-state {
	margin: 0px 20px;
}

